@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-8;
  @apply text-xl;

  color: white;
  background-color: #0a0a0a;
  background-color: black;
  
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  float: right;
  text-align: center;
  max-width: 400px;
  clear: both;
  margin: 0.25rem;
  padding: 0.5rem;
  background: #050505;
}

p:not(:has(img)) {
  max-width: 80ch;
}

p>img {
  @apply mb-6;
}

a {
  @apply underline;
}

h1,
h2,
h3 {
  @apply text-amber-700;

  font-family: var(--font-medieval-sharp);
  font-weight: 400;
  font-style: normal;
}

h1 {
  @apply text-6xl;
  @apply my-6;
}

h2 {
  @apply text-5xl;
  @apply my-5;
}

h3 {
  @apply text-4xl;
  @apply my-4;
}